{% extends 'base.html' %}

Вказуємо контент
{% block title %} Register {% endblock %}


{% block content %}

<div class="container">

    <h1 align="center"><b><strong>Реєстрація</strong></b></h1>
    <br><br>

    <form method="post">
        <div class="input-group mb-3">
    <span class="input-group-text" style="min-width: 150px;">
                <strong><b>Назва компанії</b></strong>
    </span>
            <input name="name" type="text" step="0.1" class="form-control bg-dark text-white" required>
        </div>

        <div class="input-group mb-3">
    <span class="input-group-text" style="min-width: 150px;">
                <strong><b>Пароль</b></strong>
            </span>
            <input name="password"
                   type="password"
                   step="0.1"
                   class="form-control bg-dark text-white"
                   minlength="6"
                   pattern=".*[A-Za-zА-Яа-яІіЇїЄєҐґ].*"
                   required
                   oninvalid="this.setCustomValidity('В паролі має бути хоча б одна літера та щонайменше 6 цифр')"
                   oninput="this.setCustomValidity('')" >
        </div>
        <br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success w-100 btn-dark"><b><strong>Зареєструватись</strong></b>
            </button>
        </div>
    </form>


</div>

{% endblock %}
</body>
</html>